  <footer>
    {% include footer-archiv-links.html %}
    <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" />
    <p itemprop="author creator copyrightHolder"><span itemscope itemtype="http://schema.org/Person">Gemacht aus und mit viel Neugier <br />von <a href="http://michael-pralow.de/" rel="author" itemprop="url"><span itemprop="name">Michael R. Pralow</span></a>.</span></p>
    <p><a href="{{site.baseUrl}}/impressum/">Impressum</a> & <a href="{{site.baseUrl}}/datenschutz/">Datenschutz</a></p>
    <p><a itemprop="license" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="Lizenz: Creative CommonsNamensnennung - Nicht-kommerziell - Weitergabe unter gleichen Bedingungen 4.0 International"><img alt="Creative Commons License Image" src="{{site.baseUrl}}/img/by-nc-sa.svg" height="42" width="120"></a></p>
    <p><a href="{{site.baseUrl}}/" title="Zur Startseite"><img alt="Site Logo" src="{{site.baseUrl}}/img/icon-programmicha.svg" height="64" width="64"/></a></p>
  </footer>
