<!DOCTYPE html>
<html lang="de">
<head>
  <title>FAQ für programmicha.de</title>
  <meta name="description" content="FAQ für programmicha.de">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="../css/standard.css">
</head>
<body itemscope itemtype="https://schema.org/QAPage">
{% include header-without-faq-link.html %}
  <section itemscope itemtype="http://schema.org/Question">
    <h2 id="warum-duzen" itemprop="name text">Warum duzen Sie mich?</h2>
    <div itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
      <p itemprop="text">Ich betrachte Siezen als Relikt aus dem Mittelalter und empfinde Duzen nicht als kumpelhaft. Tja und auf diesem Blog gelten eben meine Regeln.</p>
    </div>
  </section>
  <section itemscope itemtype="http://schema.org/Question">
    <h2 itemprop="name text">Ziel(e) dieses Blogs?</h2>
    <div itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
      <p itemprop="text">Ah ... eine gute Frage. So absolut kann ich das nicht beantworten. Angefangen hat es mit der Idee das ich doch bestimmt wichtige Dinge zu sagen hätte, da brauchte man dann eben ein <a href="https://de.wikipedia.org/wiki/Blog">Blog</a>. Mittlerweile sehe ich es als das, was Blog in seiner ursprünglichen Definition bedeutet, eine Art Tagebuch. Ein Tagebuch für mich und vielleicht später auch für meine Kinder.</p>
    </div>
  </section>
  <section itemscope itemtype="http://schema.org/Question">
    <h2 itemprop="name text">Wie steht es hier mit dem Datenschutz?</h2>
    <div itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
      <p itemprop="text">Dafür habe ich eine extra <a href="../datenschutz/">Datenschutz</a> Seite.</p>
    </div>
  </section>
{% include footer-without-faq.html %}
</body>