<!DOCTYPE html>
<html lang="de">
<head>
<title>Programmicha.de - Abenteuer mit Softwarearchitektur, Fotografie und dem ganzen Rest</title>
<meta name="description" content="Blog von Michael R. Pralow zu Softwarearchitektur, Fotografie und mehr.">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="ZyqAkTETHLzD_Wjc03HjCMxV_ONKvbImf0jUZF1-hkQ">
<link rel="alternate" type="application/rss+xml" href="{{site.baseUrl}}/feed.xml" title="RSS Feed für Programmicha.de">
<link rel="icon" href="{{site.baseUrl}}/img/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="{{site.baseUrl}}/css/standard.css">
<style type="text/css">
ol {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
ol li {
  margin: 0;
  padding: 0;
}
ol li a h1 {
  display: inline;
  font-size: 1.3em;
  font-weight: normal;
}
section {
  text-align: center;
}
section:nth-of-type(2) ol li {
  line-height: 0;
}
@media only screen and (min-width: 640px) {
  section:nth-of-type(2) {
    width: 640px;
  }
  section:nth-of-type(2) ol li {
    float: left;
    width: 320px;
  }
}
</style>
</head>
<body itemscope itemtype="http://schema.org/Blog">
  <header>
    <p><a href="{{site.baseUrl}}/" title="Zur Startseite"><img itemprop="image" alt="Site Logo" src="{{site.baseUrl}}/img/icon-programmicha.svg" height="64" width="64"></a></p>
    <p><a href="{{site.baseUrl}}/faq/">FAQ</a></p>
    <h1>Programmicha.de</h1>
    <p><img alt="Portrait photo of Michael Reinhard Pralow" src="{{site.baseUrl}}/img/portrait-michael-pralow.jpg">Hi, ich bin <strong>Micha</strong>.</p>
    <p itemprop="description">Hier auf <a href="{{site.baseUrl}}/">Programmicha.de</a> schreibe ich zu meinen Abenteuern mit Software­architektur, Fotografie und dem ganzen Rest.</p>
  </header>
  <section>
    <h2>Zuletzt geschrieben</h2>
    <ol reversed="reversed">
{% assign geschriebenPosts = site.posts | where_exp:'item', "item.tags contains 'post' " %}
{% for post in geschriebenPosts limit: 12 %}
      <li itemprop="blogpost" itemscope itemtype="http://schema.org/BlogPosting"><article><a itemprop="url" href="{{post.url}}"><h1 itemprop="name">{{post.title}}</h1></a>&nbsp;<meta itemprop="datePublished" content="{{post.date}}"><meta itemprop="dateModified" content="{{post.dateModified}}"></article></li>
{% endfor %}
    </ol>
  </section>
  <section>
    <h2>Zuletzt gesehen</h2>
    <ol reversed="reversed">
{% assign fotoPosts = site.tags.foto %}
{% for post in fotoPosts limit: 12 %}
      <li itemprop="blogpost" itemscope itemtype="http://schema.org/BlogPosting"><article><a itemprop="url" href="{{post.url}}"><img src="{{site.baseUrl}}/img/{{post.thumbnail}}" alt="{{post.title}}" title="{{post.title}}"></a>&nbsp;<meta itemprop="datePublished" content="{{post.date}}"><meta itemprop="dateModified" content="{{post.dateModified}}"></article></li>
{% endfor %}
    </ol>
  </section>
{% include footer.html %}
</body>
</html>